Package: com.braveheart.prefdelete
Name: PrefDelete
Depends: mobilesubstrate
Version: 1.1.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Brave Heart
Author: Brave Heart
Section: Tweaks
